<div id="<%= dom_id transaction %>">
  <p>
    <strong>Transaction:</strong>
    <%= transaction.transaction_id %>
  </p>

  <p>
    <strong>Payee:</strong>
    <%= transaction.payee_id %>
  </p>

  <p>
    <strong>Payee number:</strong>
    <%= transaction.payee_number %>
  </p>

  <p>
    <strong>Payment method:</strong>
    <%= transaction.payment_method %>
  </p>

  <p>
    <strong>Amount:</strong>
    <%= transaction.amount %>
  </p>

</div>
