<%= form_with(model: transaction) do |form| %>
  <% if transaction.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(transaction.errors.count, "error") %> prohibited this transaction from being saved:</h2>

      <ul>
        <% transaction.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :transactionID, style: "display: block" %>
    <%= form.number_field :transactionID %>
  </div>

  <div>
    <%= form.label :transactionSum, style: "display: block" %>
    <%= form.text_field :transactionSum %>
  </div>

  <div>
    <%= form.label :userID, style: "display: block" %>
    <%= form.number_field :userID %>
  </div>

  <div>
    <%= form.label :amount, style: "display: block" %>
    <%= form.text_field :amount %>
  </div>

  <div>
    <%= form.label :timestamp, style: "display: block" %>
    <%= form.datetime_field :timestamp %>
  </div>

  <div>
    <%= form.label :paymentMethod, style: "display: block" %>
    <%= form.text_field :paymentMethod %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
