<div id="<%= dom_id transaction %>">
  <p>
    <strong>Transactionid:</strong>
    <%= transaction.transactionID %>
  </p>

  <p>
    <strong>Transactionsum:</strong>
    <%= transaction.transactionSum %>
  </p>

  <p>
    <strong>Userid:</strong>
    <%= transaction.userID %>
  </p>

  <p>
    <strong>Amount:</strong>
    <%= transaction.amount %>
  </p>

  <p>
    <strong>Timestamp:</strong>
    <%= transaction.timestamp %>
  </p>

  <p>
    <strong>Paymentmethod:</strong>
    <%= transaction.paymentMethod %>
  </p>

</div>
