<div id="<%= dom_id user %>">
  <p>
    <strong>Userid:</strong>
    <%= user.userID %>
  </p>

  <p>
    <strong>Username:</strong>
    <%= user.userName %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= user.email %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= user.phone %>
  </p>

  <p>
    <strong>Createdat:</strong>
    <%= user.createdAt %>
  </p>

</div>
